* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #fff;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}


/* /////// Header and navigation ///// */
header {
    background-color: #153243;
    height: 105px;
    position: relative;
}

header ul li {
    display: inline-block;
}

header #navbar {
    display: inline-block;
    background-color: #284B63;
    padding: 0 20px;
    position: absolute;
    right: 5%;
    height: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
}

header #navbar li {
    padding: 12px 20px;
    margin: 0 20px;
}

header #navbar a {
    color: #fff;
}
header #navbar a:hover {
    color: #87BCDE
}

header h1 {
    position: absolute;
    font-size: 4em;
    top: 10%;
    left: 5%;
    color: #fff;
}

header #customer-acct {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 0;
}

header #customer-acct ul li {
    margin: 0 20px 5px 40px;
}

header #customer-acct a {
    color: #fff;
    font-size: 1.3em;
}

header #customer-acct a:hover {
    color: #87BCDE;
}


/* //// Divider //// */
#divider {
    background-color: #B4B8AB;
    height: 60px;
}

#divider a {
    color: #284B63;
}

#divider a:hover {
    color: #87BCDE;
}

#divider p {
    padding: 20px 0 0 100px;
}


/* ///// main ///// */
#main {
    height: 700px;
    padding: 0 30px 0 30px;
    margin: 0 60px 0 60px;
}

#main #img-box {
    background: url('img/bank1.jpg') no-repeat center center;
    width: 64%;
    height: 50%;
    margin-top: 15px;
    display: inline-block;
}

#main #img-box .box-text {
    display: inline-block;
    width: 40%;
    height: 100px;
    text-align: center;
    background: rgba(54, 99, 129, 0.6);
}

#main #img-box .box-text p {
    padding-top: 40px;
    color: #EEF0EB;
}

#main #log-in {
    float: right;
    height: 95%;
    width: 35%;
    margin-top: 15px;
}


/* ///// Log-in Section //// */
#log-in #topper { 
    height: 2%;
    background-color: #284B63;
}

/* //// Log-in Header //// */
#log-in #log-in-title {
    background-color: #153243;
    height: 10%;
    text-align: center;
    color: #EEF0EB;
}

#log-in #log-in-title h2 {
    padding-top: 25px;
}


/* //// Main Log-in Block /////  */
#log-in #user-info {
    background-color: #B4B8AB;
    height: 48%;
    position: relative;
}

#log-in #user-info form {
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
    min-width: 50%;;
}

#log-in #user-info form label {
    font-size: 1.2em;
}

#log-in #user-info form input {
    margin: 5px 0 20px 0;
    width: 100%;
    height: 21px;
    font-size: 19px;
}

#log-in #user-info form button {
    padding: 10px 15px;
    width: 140px;
    background-color: #153243;
    border: none;
    color: #EEF0EB;
}

#log-in #user-info form button:hover {
    background-color: #284B63;
}

#log-in #user-info a {
    text-decoration: none;
}

#log-in #lost-info {
    position: absolute;
    bottom: 5%;
    left: 15%;
    line-height: 2em;
}

#lost-info .fa-chevron-circle-right {
    color: #153243;
}

/* //// New Registration Sidebar //// */
#log-in #registration {
    height: 15%;
    border-top: 1px solid #F4F9E9;
    background-color: #B4B8AB;
    position: relative;
}

#log-in #registration div {
    display: inline-block;
    width: 85%;
    padding-left: 15%;
}

#log-in #registration div p {
    color: #153243;
    font-weight: 550;
    margin: 20px 0 10px 0;
}

#log-in #registration div button {
    padding: 10px 20px;
    background-color: #153243;
    border: none;
    color: #EEF0EB;
}

#log-in #registration div button:hover {
    background-color: #284B63;
}

/* //// Member Alerts Sidebar //// */
#log-in #alerts {
    height: 24.7%;
    border-top: 1px solid #F4F9E9;
    background-color: #B4B8AB;
    position: relative;
    padding-right: 5px;
}

#log-in #alerts div h4 {
    position: absolute;
    top: 10%;
    left: 15%;
    color: #153243;
}

#log-in #alerts p {
    position: absolute;
    top: 28%;
    left: 5%;
    color: #000000;
}

#log-in #alerts a {
    position: absolute;
    bottom: 15%;
    left: 15%;
    font-weight: 600;
    color: #153243;
}

#log-in #alerts div p {
    width: 90%;
}

/* ///// Rewards Card Section ///// */
#rewards-card {
    margin-top: 25px;
    width: 64%;
    height: 30%;
    background-color: #465362;
    position: relative;
}

#rewards-card #rewards-box #card {
    position: absolute;
    width: 20%;
    left: 30%;
    bottom: -2%;
}

#rewards-card #rewards-box {
    height: 100%;
    float: left;
}

#rewards-card #rewards-box #checks {
    position: absolute;
    left: 6%;
    top: 33%;
}

#rewards-card #rewards-box #boxes {
    position: absolute;
    left: 6%;
    top: 33%;
}

.fa-check-square {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #153243;
}

.fa-square {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #F4F9E9;
}

#rewards-card h2 {
    margin-top: 10px;
    position: absolute;
    left: 9%;
    color: #EEF0EB;
}

#rewards-card h3 {
    margin-top: 10px;
    position: absolute;
    left: 5%;
    top: 12%;
    color: #EEF0EB;
}

#rewards-card ul {
    position: absolute;
    left: 10%;
    top: 30%;
}

#rewards-card ul li {
  line-height: 2.2em;
  color: #F4F9E9;
}

#rewards-card button {
    position: absolute;
    left: 50%;
    top: 40%;
    padding: 10px 20px;
    background-color: #153243;
    border: none;
    color: #EEF0EB;
}

#rewards-card button:hover {
    background-color: #284B63;
}

#rewards-card #model {
    position: absolute;
    width: 190px;
    height: 230px;
    right: 5%;
    top: -10%;
}


/* ///// Products Section ///// */
#products {
    margin-top: 10px;
    width: 64%;
    height: 70px;
    background-color: #153243;
}

#products h2 {
    text-align: center;
    color: #EEF0EB;
    padding: 5px 0 5px 0;  
}

#products ul {
    text-align: center;
    padding-top: 2px;
}

#products ul li {
    display: inline;
    font-size: 2em;
    margin: 0 30px 0 30px;
}

#products .fa-credit-card, .fa-home, .fa-car, .fa-graduation-cap, .fa-handshake, .fa-chart-line {
    font-size: 2em;
    color: #EEF0EB;
}


/* /////////////// */
footer {
    background-color: #B4B8AB;
    height: 200px;
    margin-top: 60px;
    position: relative;
}

footer h5 {
    margin: 10px 0 10px 0;
    color: #284B63;
}

.btm-box-one {
    position: absolute;
    left: 10%;
}

.btm-box-one a {
    line-height: 1.5em;
    color: #284B63;
}

.btm-box-two {
    position: absolute;
    left: 5%;
    left: 30%;
    width: 15%;
}

.btm-box-two a {
    font-size: 1.5em;
    color: #153243;
}

.btm-box-two a:hover {
    color: #284B63;
}

.btm-box-three {
    position: absolute;
    left: 55%;
}

.btm-box-three ul {
    text-align: center;
    margin-top: 10px;
}

.btm-box-three li {
    display: inline;
}

.btm-box-three a {
    font-size: 1.5em;
    margin: 0 13px 0 0;
    color: #153243;
}

.btm-box-three a:hover {
    color: #87BCDE;
}

.btm-box-four {
    position: absolute;
    right: 15%;
    width: 12%;
}

.btm-box-four p {
    margin-bottom: 10px;
}

.btm-box-four a {
    color: #153243;
}

.btm-box-four .fa-arrow-circle-right {
    color: #153243;
}


/* //// ////// */
 #btm-bar {
    background-color: #465362;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

#btm-bar ul {
    margin: 10px 0 0 20px;
    position: absolute;
}

#btm-bar li {
    display: inline;
    margin: 0 10px 0 10px;
}

#btm-bar a {
    font-size: .6em;
    font-weight: 600;
    color: #B4B8AB;
}

#btm-bar p {
    text-align: center;
    margin-top: 10px;
    font-weight: 800;
    color: #EEF0EB;
}

@media only screen and (min-width: 1025px) and (max-width: 1158px) {
    #main {
        padding: 0;
        margin: 0 20px 0 20px;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info p, a {
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info {
    transition: all .5s ease-in-out;
    line-height: 2em;
    left: 10%;
    bottom: 5%;
    }

    .btm-box-one {
        transition: all .5s ease-in-out;
        left: 5%;
    }

    .btm-box-one a {
        transition: all .5s ease-in-out;
        line-height: 2em;
    }

    .btm-box-two {
        transition: all .5s ease-in-out;
        width: 25%;
        left: 25%;
    }

    .btm-box-three {
        transition: all .5s ease-in-out;
        left: 50%;
    }

    .btm-box-four {
        transition: all .5s ease-in-out;
        right: 8%;
        width: 20%;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        float: right;
        margin-right: 10px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #main #img-box .box-text {
        width: 200px;
    }

    header #navbar {
        transition: all .5s ease-in-out;
        height: 25px;
    }

    header #navbar li {
        padding: 5px;
        margin: 0 10px;
        transition: all .5s ease-in-out;
    }

    header #customer-acct ul li {
        transition: ease-in-out all .5s;
        margin: 0 10px 5px 20px;
    }

    header h1 {
        transition: all .5s ease-in-out;
        font-size: 3.5em;
        top: 25%;
        left: 10%;
    }
    
    #main {
        padding: 0;
        margin: 0 10px 0 10px;
        transition: all .5s ease-in-out;
    }

    #log-in #user-info form {
        transition: all .5s ease-in-out;
        top: 5%;
    }

    #log-in #user-info form label {
        font-size: 16px;
        transition: all .5s ease-in-out;
    }

    #log-in #user-info form input {
        margin: 5px 0 10px 0;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info p, a {
        font-size: 15px;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info {
    transition: all .5s ease-in-out;
    line-height: 2em;
    left: 6%;
    top: 60%;
    }

    #rewards-card #rewards-box #boxes, #rewards-card #rewards-box #checks {
        left: 2%;
        transition: all .5s ease-in-out;
    }

    #rewards-card h2 {
        transition: all .5s ease-in-out;
        left: 5%;
    }

    #rewards-card ul {
        transition: all .5s ease-in-out;
        left: 7%;
    }

    #rewards-card button {
        transition: all .5s ease-in-out;
        left: 43%;
    }

    #rewards-card #model {
        transition: all .5s ease-in-out;
        width: 180px;
        right: 0;
    }

    #products ul li {
        transition: all .5s ease-in-out;
        margin: 0 20px 
    }

    .btm-box-one {
        transition: all .5s ease-in-out;
        left: 5%;
    }

    .btm-box-one a {
        transition: all .5s ease-in-out;
        line-height: 2em;
    }

    .btm-box-two {
        transition: all .5s ease-in-out;
        width: 25%;
        left: 25%;
    }

    .btm-box-three {
        transition: all .5s ease-in-out;
        left: 50%;
    }

    .btm-box-four {
        transition: all .5s ease-in-out;
        right: 8%;
        width: 20%;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        float: right;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 569px) and (max-width: 767px) {
    #main #img-box .box-text {
        transition: all .5s ease-in-out;
        width: 200px;
    }

    header #navbar {
        transition: all .5s ease-in-out;
        height: 25px;
        right: 0%;
        padding: 0 10px;
    }

    header #navbar li {
        padding: 5px 10px;
        margin: 0;
        transition: all .5s ease-in-out;
    }

    header h1 {
        transition: all .5s ease-in-out;
        font-size: 3em;
    }

    header #customer-acct {
        transition: all .5s ease-in-out;
        right: 2%;
    }

    header #customer-acct ul li {
        transition: ease-in-out all .5s;
        margin: 0 5px 5px 5px;
    }

    header #customer-acct a {
        transition: all .5s ease-in-out;
        font-size: 16px;
    }

    header h1 {
        transition: all .5s ease-in-out;
        font-size: 3.5em;
        top: 25%;
        left: 10%;
    }
    
    #main {
        height: 1100px;
        padding: 0;
        margin: 0 10px 0 10px;
        transition: all .5s ease-in-out;
    }

    #main #img-box {
        width: 100%;
        height: 30%;
        transition: all .8s ease-in-out;
    }

    #log-in #log-in-title {
        transition: all .5s ease-in-out;
        display: none;
    }

    #main #log-in {
        transition: all .8s ease-in-out;
        width: 100%;
        height: 400px;
        float: none;
    }

    #log-in #user-info form {
        transition: all .5s ease-in-out;
        top: 5%;
    }

    #log-in #user-info form label {
        font-size: 14px;
        transition: all .5s ease-in-out;
    }

    #log-in #user-info form input {
        margin: 5px 0 10px 0;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info p, a {
        font-size: 14px;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info {
    transition: all .5s ease-in-out;
    line-height: 2em;
    margin-left: 200px;
    }

    #log-in #registration div button {
        transition: all .5s ease-in-out;
        position: absolute;
        right: 20%;
        top: 20%;
    }

    #log-in #alerts p {
        transition: all .5s ease-in-out;
        left: 10%;
        margin-top: 5px;
    }

    #log-in #alerts a {
        transition: all .5s ease-in-out;
        bottom: 10%;
    }

/* ///// Rewards Card Section ///// */
#rewards-card {
    transition: all .5s ease-in-out;
    margin-top: -15px;
    width: 100%;
    height: 20%;
    }    

    #rewards-card #rewards-box #boxes, #rewards-card #rewards-box #checks {
        left: 5%;
        transition: all .5s ease-in-out;
    }

    #rewards-card h2 {
        transition: all .5s ease-in-out;
        left: 10%;
    }

    #rewards-card ul {
        transition: all .5s ease-in-out;
        left: 10%;
    }

    #rewards-card button {
        transition: all .5s ease-in-out;
        left: 50%;
    }

    #rewards-card #model {
        transition: all .5s ease-in-out;
        width: 190px;
        height: 243px;
        right: 0;
    }

    /* ///// Products Section ///// */
    #products {
        transition: all .5s ease-in-out;
        width: 100%;
    }

    #products ul li {
        transition: all .5s ease-in-out;
        margin: 0 25px 
    }

/* /////////////// */
    footer {
        transition: all .5s ease-in-out;
        margin-top: 0;
    }

    footer h5 {
        transition: all .5s ease-in-out;
        font-size: 13px;
    }


    .btm-box-one {
        transition: all .5s ease-in-out;
        left: 2%;
    }

    .btm-box-one a {
        transition: all .5s ease-in-out;
        line-height: 2em;
    }

    .btm-box-two {
        transition: all .5s ease-in-out;
        width: 25%;
        left: 25%;
    }

    .btm-box-two p {
        transition: all .5s ease-in-out;
        font-size: 14px;
    }

    .btm-box-three {
        transition: all .5s ease-in-out;
        left: 55%;
    }

    .btm-box-three li {
        transition: all .5s ease-in-out;
        display: block;
    }

    .btm-box-four {
        transition: all .5s ease-in-out;
        right: 2%;
        width: 20%;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        float: right;
        margin-right: 10px;
    }

    .btm-box-four .fa-arrow-circle-right {
        transition: all .5s ease-in-out;
        display: none;
    }

    /* //// ////// */
    #btm-bar ul {
        transition: all .5s ease-in-out;
        margin: 10px 0;
    }

    #btm-bar li  {
        transition: all .5s ease-in-out;
        margin: 0 2px;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        font-weight: 400;
        font-size: 12px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 568px) {
    #main #img-box .box-text {
        transition: all .5s ease-in-out;
        width: 200px;
    }

    header #navbar {
        transition: all .5s ease-in-out;
        height: 25px;
        float: right;
        background-color: transparent;
    }

    header #navbar li {
        transition: all .5s ease-in-out;
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1.5em;
    }

    header #customer-acct a {
        display: none;
    }

    header h1 {
        transition: all .5s ease-in-out;
        font-size: 3.5em;
        top: 20%;
        right: 50%;
    }
    
    #main {
        height: 700px;
        padding: 0;
        margin: 0 10px 0 10px;
        transition: all .5s ease-in-out;
    }

    #main #img-box {
        display: none;
    }

    #log-in #log-in-title {
        display: none;
    }

    #main #log-in {
        transition: all .8s ease-in-out;
        width: 100%;
        height: 400px;
        float: none;
    }

    #log-in #user-info form {
        transition: all .5s ease-in-out;
        left: 5%;
    }

    #log-in #user-info form button {
        transition: all .5s ease-in-out;
        width: 100px;
        padding: 15px 5px;
        font-size: 12px;
    }

    #log-in #user-info form {
        transition: all .5s ease-in-out;
        top: 5%;
    }

    #log-in #user-info form label {
        font-size: 14px;
        transition: all .5s ease-in-out;
    }

    #log-in #user-info form input {
        margin: 5px 0 10px 0;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info p, a {
        font-size: 10px;
        transition: all .5s ease-in-out;
    }

    #log-in #lost-info {
        transition: all .5s ease-in-out;
        line-height: 1em;
        left: 40%;
        bottom: 15%;
    }

    #log-in #registration div button {
        transition: all .5s ease-in-out;
        position: absolute;
        right: 20%;
        bottom: 15%;
        padding: 10px 15px;
        font-size: 12px;
    }

    #log-in #registration div p {
        transition: all .5s ease-in-out;
        position: absolute;
        left: 5%;
        font-size: 12px;
        bottom: 10%;
    }

    #log-in #alerts p {
        transition: all .5s ease-in-out;
        left: 10%;
        font-size: 12px;
        margin-top: 5px;
    }

    #log-in #alerts a {
        transition: all .5s ease-in-out;
        bottom: 10%;
    }

/* ///// Rewards Card Section ///// */
#rewards-card {
    transition: all .5s ease-in-out;
    margin-top: -15px;
    width: 100%;
    height: 30%;
    }    

    #rewards-card #rewards-box #boxes, #rewards-card #rewards-box #checks {
        display: none;
    }

    #rewards-card h2 {
        transition: all .5s ease-in-out;
        left: 10%;
    }

    #rewards-card ul {
        transition: all .5s ease-in-out;
        left: 5%;
        top: 35%;
    }

    #rewards-card button {
        transition: all .5s ease-in-out;
        left: 60%;
        top: 50%;
        padding: 10px 10px;
    }

    #rewards-card #model {
        transition: all .5s ease-in-out;
        display: none;
    }

    #rewards-card ul li {
        transition: all .5s ease-in-out;
        line-height: 1.8em;
    }

    /* ///// Products Section ///// */
    #products {
        transition: all .5s ease-in-out;
        width: 100%;
    }

    products ul {
        transition: all .5s ease-in-out;
        text-align: left;
    }

    #products ul li {
        transition: all .5s ease-in-out;
        margin: 0 5px; 
    }

/* /////////////// */
    footer {
        transition: all .5s ease-in-out;
        margin-top: 0;
    }

    footer h5 {
        transition: all .5s ease-in-out;
        font-size: 9px;
    }


    .btm-box-one {
        transition: all .5s ease-in-out;
        left: 1%;
    }

    .btm-box-one a {
        transition: all .5s ease-in-out;
        line-height: 2em;
    }

    .btm-box-two {
        transition: all .5s ease-in-out;
        width: 25%;
        left: 30%;
    }

    .btm-box-two p {
        transition: all .5s ease-in-out;
        font-size: 10px;
    }

    .btm-box-three {
        transition: all .5s ease-in-out;
        left: 55%;
    }

    .btm-box-three li {
        transition: all .5s ease-in-out;
        display: block;
    }

    .btm-box-four {
        text-align: center;
        transition: all .5s ease-in-out;
        right: 1%;
        width: 20%;
    }

    .btm-box-four p {
        transition: all .5s ease-in-out;
        font-size: 10px;
        margin-bottom: 0;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        float: right;
        margin-right: 10px;
    }

    .btm-box-four .fa-arrow-circle-right {
        transition: all .5s ease-in-out;
        display: none;
    }

    /* //// ////// */
    #btm-bar ul {
        transition: all .5s ease-in-out;
        margin: 0 0;
    }

    #btm-bar li  {
        transition: all .5s ease-in-out;
        margin: 0 0;
    }

    #btm-bar a {
        display: none;
    }

    #btm-bar p {
        transition: all .5s ease-in-out;
        font-weight: 400;
        font-size: 14px;
    }
}