* {
    padding: 0;
    margin: 0;
}

ul {
    text-decoration: none;
    list-style: none;
}


/* Header and navigation */
header {
    background: red;
    height: 105px;
    position: relative;
}

header ul li {
    display: inline-block;
}

header #navbar {
    display: inline-block;
    background: blue;
    padding: 0 20px;
    float: right;
    margin-right: 180px;
    height: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;    
}

header #navbar li {
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
}

header h1 {
    display: block;
    position: absolute;
    font-size: 4.5em;
    top: 10%;
    left: 5%;

}

header #customer-acct {
    display: block;
    margin-right: 350px;
    position: absolute;
    right: 0%;
    bottom: 0;
}

header #customer-acct a {
    text-decoration: none;
}

header #customer-acct ul li {
    font-size: 1.5em;
    margin: 0 20px 0 20px;
    color: #fff;
}


/* //// Divider //// */
#divider {
    background: #D3D2D7;
    height: 60px;
}

#divider a {
    text-decoration: none;
    color: blue;
}

#divider p {
    padding: 20px 0 0 100px;
}


/* ///// main ///// */
#main {
    height: 700px;
    padding: 0 30px 0 30px;
    margin: 0 60px 0 60px;
    /* border: 1px solid green; */
}

#main #img-box {
    background: url('img/bank1.jpg') no-repeat center center;
    width: 64%;
    height: 50%;
    margin-top: 15px;
    display: inline-block;
    /* border: 1px solid red; */
}

#main #img-box .box-text {
    /* border: 1px solid yellow; */
    display: inline-block;
    width: 310px;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
}

#main #img-box .box-text p {
    padding-top: 40px;
    color: #fff;
    color: #000;
}

#main #log-in {
    display: inline-block;
    border: 1px solid blue;
    float: right;
    height: 95%;
    width: 35%;
    margin-top: 15px;
}


/* ///// Log-in Section //// */
#log-in #topper { 
    height: 2%;
    background: red; 
}

#log-in #log-in-title {
    background: firebrick;
    height: 10%;
    text-align: center;
}

#log-in #log-in-title h2 {
    padding-top: 25px;
}

#log-in #user-info {
    background-color: darksalmon;
    height: 48%;
    position: relative;
}

#log-in #user-info form {
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
}

#log-in #user-info form label {
    font-size: 1.2em;
}

#log-in #user-info form input {
    margin: 5px 0 20px 0;
    width: 100%;
    height: 21px;
    font-size: 19px;
}

#log-in #user-info form button {
    padding: 10px 15px;
    width: 50%;
    border-radius: 7px;
}

#log-in #user-info a {
    text-decoration: none;
}

#log-in #lost-info {
    position: absolute;
    bottom: 5%;
    left: 15%;
    line-height: 2em;
}

#log-in #registration {
    height: 15%;
    border-top: 1px solid white;
    background-color: darkorchid;
    position: relative;
}

#log-in #registration div {
    display: inline-block;
    width: 100%;
}

#log-in #registration div p {
    position: absolute;
    left: 15%;
    display: inline-block;
    top: 35%;
    font-size: 1.1em;
}

#log-in #registration div button {
    display: inline;
    position: absolute;
    padding: 10px 20px;
    border-radius: 5px;
    top: 35%;
    right: 15%;
}

#log-in #alerts {
    height: 24.7%;
    border-top: 1px solid white;
    background-color: darkolivegreen;
    position: relative;
}

#log-in #alerts div {
    position: absolute;
    left: 14%;
}

#log-in #alerts div h4 {
    margin-top: 20px;
}

#log-in #alerts div h4, p, a {
    padding-top: 10px;
}

#log-in #alerts div p {
    width: 90%;
}


/* ///// Rewards Card Section ///// */
#rewards-card {
    margin-top: 40px;
    width: 64%;
    height: 30%;
    background: green;
    position: relative;
}

#rewards-card #rewards-box {
    width: 370px;
    height: 100%;
    float: left;
}

#rewards-card h2, h3 {
    margin: 10px 0 0 30px;
}

#rewards-card ul li {
    margin: 10px 0 0 102px;
}

#rewards-card button {
    position: absolute;
    left: 50%;
    top: 40%;
    padding: 10px 20px;
    border-radius: 5px;
}

#rewards-card img {
    width: 190px;
    margin: -36px 40px 0 0;
    float: right;
}

/* ///// Products Section ///// */
#products

